* {
  padding: 0px;
  margin: 0px;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px solid #999;

  background: #F0EAD6;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.status {
  padding-bottom: 20px;
}

.board {
  display: inline-flex;
  flex-direction: row;
}

.container {
  margin: 20px;
}

.game {
  display: block;
  text-align: center;
}
